[defaults]
# Chemin vers ton inventaire
roles_path = roles
inventory  = /home/automation/3tier-iac-proxmox-provider/ansible/inventory

# Utilisateur à utiliser sur les machines cibles (Managed Nodes)
remote_user    = automation

# Ignore la vérification des clés SSH (Indispensable en Lab Proxmox)
host_key_checking = False

# Améliore l'affichage des résultats dans la console
#stdout_callback = community.general.yaml
#bin_ansible_callbacks = True
# On utilise le plugin par défaut, mais en mode YAML
stdout_callback = ansible.builtin.default
# On active l'option de format YAML intégrée
result_format = yaml
[privilege_escalation]
# Active le passage en mode "Super-utilisateur" par défaut
become         = True
become_method  = sudo
become_user    = root
# Ne demande jamais de mot de passe (grâce à ton NOPASSWD)
become_ask_pass = False

